<footer>
    <section>
        <ul>
            <li>DIGITAL PRODUCT DESIGN</li>
            <li>REMOTE WORK</li>
            <li>UX DESIGN</li>
            <li>DISTRIBUTED TEAMS</li>
            <li>CREATIVITY</li>
            <li>STRATEGY</li>
            <li>SUSPENSE</li>
            <li>GROWTH</li>
        </ul>
    </section>
</footer>