<footer>
    <section>
        <ul class="works">
            <li>DIGITAL PRODUCT DESIGN</li>
            <li>REMOTE WORK</li>
            <li>UX DESIGN</li>
            <li>DISTRIBUTED TEAMS</li>
            <li>CREATIVITY</li>
            <li>STRATEGY</li>
            <li>SUSPENSE</li>
            <li>GROWTH</li>
        </ul>

        <div>
            <img src="/assets/img/logoWhite.svg" alt="" id="logo" class="logoWhite">

            <div>
                <P class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, debitis sequi sint
                    nobis quidem
                    officia
                    quibusdam, placeat assumenda totam sapiente quam harum ipsum qui dolores. Esse voluptatibus fugit
                    culpa
                    aspernatur.</P>

                <ul class="linksSm">
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">RSS</a></li>
                </ul>

                <p class="copyright">© 2012–2020 Nordic Rose Co. <br> All rights reserved.</p>
            </div>
        </div>
    </section>
</footer>