@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); /*====================VARIABLES========================*/
$headline: 900;
$text: 500;
$article: "Fira Code";
$pLine: "Poppins", sans-serif;
$headline: 900;
$text: 500;
$article: "Fira Code";
//====================GENREAL STYLE===================
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
    font-size: $text;
    scroll-behavior: smooth;
}
a {
    color: #000;
}
/*======================NAVBAR=====================*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1% 0;
    #logo {
        width: 65%;
        padding-left: 7%;
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10%;
        width: 20vh;
        li {
            padding-bottom: 20%;
        }
        #active {
            border-bottom: solid #000;
            border-bottom-width: medium;
        }
    }
}
/*======================ALL=============================*/
#hero {
    text-align: center;
    margin: 3% 0 5% 0;
    width: 100%;
    article {
        display: flex;
        justify-content: center;
    }
    h1 {
        font-size: 3em;
        width: 60vw;
        margin: 3% 0 1% 0;
    }
}
#allArticles {
    border-top: 3px solid #000;
    margin: 0 30%;
    text-align: center;
    .grid2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1%;
        margin-bottom: 25%;
        img {
            width: 80%;
        }
    }
    article {
        p {
            width: 80%;
            margin: 0 auto;
            font-family: Fira Code;
            font-weight: 500;
            font-size: 1.3em;
        }
    }
    h2 {
        font-size: 2.5em;
        text-align: center;
        margin: 6% 0 5% 0;
    }
}
/*======================ADD========================*/
#addHeadline {
    text-align: center;
    font-weight: 400;
    font-size: 2em;
    margin: 2% 0 0 0;
}
#stripe {
    width: 45px;
    height: 4px;
    margin: 1.5% auto 1% auto;
    background-color: #000;
}
form {
    width: 100%;
    margin: 4% 0;
    input {
        background-color: #e5e5e5;
        color: black;
        font-family: "Open Sans";
        display: block;
        width: 90%;
        margin: 1% 4%;
        border: none;
        padding: 2% 1%;
    }
    input[type="submit"] {
        background-color: black;
        color: white;
        width: 92%;
        font-size: 1em;
        border-radius: 12px;
        padding: 0.5% 1%;
        cursor: pointer;
    }
    #body {
        padding: 1% 1% 12.6% 1%;
    }
}
/*===================DETAIL========================*/
.contentTitle {
    // width:50%;
    margin: 3% 20% 5% 20%;
    text-align: center;
    font-weight: 900;
    font-size: 4em;
}
.imgContainer {
    width: 100%;
    img {
        width: 100%;
    }
}
.contentPost {
    margin: 3% 20% 10% 20%;
    .blogHeader {
        border-top: 2px solid black;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5%;
        .authorPic {
            border-radius: 50%;
            width: 7%;
            margin: 1% 5% 1% 1%;
        }
        div {
            h5 {
                font-family: Fira Code;
                font-weight: 700;
                font-size: 1.3em;
                margin: 0 0 2% 0;
            }
            h6 {
                font-family: Fira Code;
                font-weight: 400;
                font-size: 1em;
            }
        }
    }
    div {
        p {
            font-size: 1.6em;
        }
    }
}
/*=============What to Read next===================*/
#whatNext {
    border-top: 3px solid #000000;

    text-align: center;
    .grid3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 3%;
        margin-bottom: 15%;
        img {
            width: 80%;
        }
    }
    article {
        p {
            width: 80%;
            margin: 0 auto;
            font-family: Fira Code;
            font-weight: 500;
            font-size: 1.7em;
        }
    }
    h2 {
        font-size: 3.5em;
        text-align: center;
        margin: 6% 0 5% 0;
    }
}

/*======================FOOTER=====================*/
footer {
    background: #000;
    color: white;
    padding-top: 2%;

    .works {
        display: flex;
        justify-content: space-between;

        li {
            font-family: $article;
            font-weight: 300;
            font-size: 1.3em;
        }
    }

    div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        .logoWhite {
            margin-top: 7%;
            margin-bottom: 3%;
        }

        div {
            .lorem {
                width: 40%;
                text-align: center;
                padding-bottom: 2%;
                font-family: $pLine;
            }

            .linksSm {
                display: flex;
                justify-content: space-between;
                padding-bottom: 6%;
                width: 17vw;
                li {
                    // padding-right: 10%;
                    justify-content: space-between;
                    text-align: center;

                    a {
                        font-family: $article;
                        font-weight: 500;
                        color: white;
                        text-decoration: underline;
                        text-decoration-thickness: 0.5px;
                    }
                }
            }

            .copyright {
                font-family: $article;
                text-align: center;
                padding-bottom: 5%;
            }
        }
    }
}
/*========================MEDIA QUERRIES=================*/
@media only screen and (max-width: 600px) {
    /*======================600pxNAVBAR=====================*/
    nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 1% 0;
        #logo {
            width: 55%;
            padding-left: 7%;
        }
        #burgerMenu {
            display: block;
            margin-right: 5%;
        }
    }
    .hide {
        display: none;
    }
    /*=============================MENÜ=====================*/
    .overlay {
        height: 100vh;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 3em;
        margin: 10% 0;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover,
    .overlay a:focus {
        color: #f1f1f1;
    }

    .overlay .closebtn {
        position: absolute;
        top: -7%;
        right: 4%;
        font-size: 60px;
    }
    #burgerMenu {
        display: none;
    }

    /*======================600pxALL=============================*/
    #hero {
        text-align: center;
        margin: 3% 0 0% 0;

        img {
            width: 100%;
        }
        article {
            display: flex;
            justify-content: center;
        }
        h1 {
            font-size: 1.8em;
            width: 95vw;
            margin: 13% 0 23% 0;
        }
    }
    #allArticles {
        border-top: 3px solid #000;
        margin: 0 0%;
        text-align: center;
        .grid2 {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 1%;
            margin-bottom: 125%;
            img {
                width: 80%;
            }
        }
        article {
            p {
                width: 100%;
                margin: 0 0;
                font-family: Fira Code;
                font-weight: 500;
                font-size: 1.5em;
            }
        }
        h2 {
            font-size: 2.5em;
            text-align: center;
            margin: 6% 0 5% 0;
        }
    }
    /*======================600pxADD========================*/
    #addHeadline {
        text-align: center;
        font-weight: 400;
        font-size: 2em;
        margin: 22% 0 0 0;
    }
    #stripe {
        width: 45px;
        height: 4px;
        margin: 1.5% auto 1% auto;
        background-color: #000;
    }
    form {
        width: 100%;
        margin: 4% 0;
        input {
            background-color: #e5e5e5;
            color: black;
            font-family: "Open Sans";
            display: block;
            width: 90%;
            margin: 5% 4%;
            border: none;
            padding: 4% 1%;
        }
        input[type="submit"] {
            background-color: black;
            color: white;
            width: 92%;
            font-size: 1em;
            border-radius: 8px;
            padding: 5.5% 1%;
            cursor: pointer;
        }
        #body {
            padding: 1% 1% 30% 1%;
        }
    }
    /*===================600pxDETAIL========================*/
    .contentTitle {
        margin: 23% 1% 25% 1%;
        text-align: center;
        font-weight: 900;
        font-size: 1.5em;
    }
    .imgContainer {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .contentPost {
        margin: 3% 3% 10% 3%;
        .blogHeader {
            margin-bottom: 25%;
            padding-top: 5%;
            .authorPic {
                width: 17%;
                margin: 1% 5% 1% 1%;
            }
        }
        div {
            p {
                font-size: 1.2em;
            }
        }
    }
    /*=============600pxWhat to Read next===================*/
    #whatNext {
        border-top: 3px solid #000000;

        margin-bottom: 100%;
        text-align: center;
        .grid3 {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 3%;
            margin-bottom: 15%;
            img {
                width: 95%;
            }
        }
        article {
            p {
                width: 80%;
                margin: 0 auto;
                font-family: Fira Code;
                font-weight: 500;
                font-size: 1.7em;
            }
        }
        h2 {
            font-size: 2em;
            text-align: center;
            margin: 16% 0 5% 0;
        }
    }

    /*======================600pxFOOTER=====================*/
    footer {
        background: #000;
        color: white;
        padding-top: 2%;

        .works {
            display: flex;
            justify-content: baseline;
            width: 200%;
            padding-top: 5%;

            li {
                font-family: $article;
                font-weight: 100;
                font-size: 1em;
                width: 100%;
            }
            .hide {
                display: none;
            }
        }

        div {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            .logoWhite {
                margin-top: 17%;
                margin-bottom: 13%;
            }

            div {
                .lorem {
                    width: 80%;
                    text-align: center;
                    padding-bottom: 2%;
                    font-family: $pLine;
                    font-size: 0.8em;
                }

                .linksSm {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 6%;
                    width: 60vw;
                    margin: 5% 0;
                    li {
                        // padding-right: 10%;
                        justify-content: space-between;
                        text-align: center;

                        a {
                            font-weight: 500;
                            text-decoration: none;
                        }
                    }
                }

                .copyright {
                    font-size: 0.7em;
                }
            }
        }
    }
}

/*=============================MENÜ=====================*/
.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 3em;
    margin: 10% 0;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: -7%;
    right: 4%;
    font-size: 60px;
}
#burgerMenu {
    display: none;
}
