<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nordic Rose</title>
    <link rel="stylesheet" href="/assets/scss/style.css">
</head>

<body>
    <nav>
        <img src="/assets/img/logo.svg" alt="" id="logo">
        <ul>
            <li><a href="/">ALL</a></li>
            <li id="active"><a href="/add">NEW ARTICLE</a></li>
        </ul>
    </nav>
    <section class="add_form">
        <h1>ADD NEW ARTICLE</h1>
        <form action="/new" method="POST">
            <input type="number" name="_id" id="" placeholder="_id">
            <input type="number" name="id" placeholder="id">
            <input type="text" name="title" placeholder="Title">
            <input type="text" name="url" id="" placeholder="url">
            <input type="text" name="author" placeholder="Author">
            <input type="text" name="body" id="body" placeholder="Article">
            <input type="number" name="duration" id="" placeholder="Duration">
            <input type="date" name="published_at" id="" placeholder="published at">
            <input type="text" name="author_bild" placeholder="author_bild">
            <input type="submit" value="SEND ARTICLE">
        </form>
    </section>
</body>

</html>